---
 const personalImageAlt = "Anthony Lang picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Anthony Lang pero mis amigos me llaman langpi. Empecé en la
      programación con un curso en el bachillerato sobre algoritmia y programacion en c#, tenía 16 años. Actualmente estoy <strong
        >estudiando ingenieria en sistemas de informacion enfocado al desarrollo de aplicaciones web</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con un proyecto para una asociacion que ayuda a personas discapacitadas con el apoyo de una aplicacion backend para el registro de pacientes</strong
      >
    </p>
    <p>
      Apasionado por la programacion y abierto a nuevas experiencias profesionales
    </p>
  </div>

  <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>